<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="top.wuml.rbac.dao.SysMenuDao">

    <select id="getMenuList" resultType="top.wuml.rbac.entity.SysMenuEntity">
        SELECT * FROM sys_menu WHERE deleted = 0
        <if test="type != null">
            AND type = #{type}
        </if>
        ORDER BY sort
    </select>

    <select id="getUserMenuList" resultType="top.wuml.rbac.entity.SysMenuEntity">
        SELECT t3.* FROM sys_user_role t1
        LEFT JOIN sys_role_menu t2 ON t1.role_id = t2.role_id
        LEFT JOIN sys_menu t3 ON t2.menu_id = t3.id
        WHERE t1.user_id = #{userId} AND t1.deleted = 0 AND t2.deleted = 0 AND t3.deleted = 0
        <if test="type != null">
            AND t3.type = #{type}
        </if>
        ORDER BY t3.sort
    </select>

    <select id="getAuthorityList" resultType="string">
        SELECT authority
        FROM sys_menu
        WHERE deleted = 0
    </select>


    <select id="getUserAuthorityList" resultType="string">
        SELECT t3.authority
        FROM sys_user_role t1
                 LEFT JOIN sys_role_menu t2 ON t1.role_id = t2.role_id
                 LEFT JOIN sys_menu t3 ON t2.menu_id = t3.id
        WHERE t1.user_id = #{userId}
          AND t1.deleted = 0
          AND t2.deleted = 0
          AND t3.deleted = 0
        ORDER BY t3.sort
    </select>

</mapper>